body {
  background: url(./img/backgroundImage.svg) no-repeat fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.blackContainer {
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.31);
  border-radius: 23px;
  /* margin: 0 6.875rem 0 6.875rem; */
  margin: auto;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

input {
  display: block;
}

.button-creator {
  display: grid;
  grid-gap: 30px;
  padding: 30px;
  grid-template-columns: 200px 1fr;
}

#controles {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 0.875rem;
  background: #eee;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.css {
  font-family: 'IBM Plex Mono', monospace;
  color: #333;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.css span {
  display: block;
  margin-bottom: 0.5rem;
}

.resetButton__btn {
  border-radius: 40px;
  border: none;
  width: 22rem;
  height: 3rem;
  background: #8c52ff;

  color: #fff;
  font-family: 'Poppins';
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
}

.footer {
  align-self: center;
}

.footerP {
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

.material-icons {
  color: red;
  font-size: 17px;
}

.footerI {
  height: 17px;
  width: 17px;
}
