body {
    margin: 10% 40%;
    background-color: #000;
}

h1 {
    color: #FFF;
    text-align: center;
    font-family: Inconsolata, sans-serif;
}

.box {
    background-color: #157bad;
    height: 300px;
    width: 300px;

    transition-property: background-color, border-radius;
    transition-duration: 2s, 1.5s;
    transition-timing-function: cubic-bezier(.15, .89, .85, .26);
}

.box:hover {
    background-color: #ec5840;
    border-radius: 50%;
}