body {
    animation: isBouncing 1s ease alternate infinite;
    display: grid;
    place-items: center;
    height: 100vh;
}

svg{
    width: 200px;;
}

@keyframes isBouncing{
    to{
        transform: translateY(30px);
    }
}