body {
    background-color: black;
    align-items: center;
    display: flex;
    height: 97vh;
    justify-content: center;
  }
  
  h1 {
    color: #FFFFFF;
    font-family: Lato, sans-serif;
  }
  
  .c-component{
    animation: morph-shape 2s cubic-bezier(1, .015, .295, 1.225) infinite alternate;
    background-color: #2d9cdb;
    height: 300px;
    width: 300px;
    margin-left: 100px;
  }
  
  @keyframes morph-shape {
    0%{
      border-radius: 0;
    }
    50%{
      background-color: #9b51e0;
      border-radius: 50% 0 50% 0;
      transform: rotate(.5turn);
    }
    100% {
      background-color: #eb5757;
      border-radius: 50%;
      transform: rotate(1turn);
    }
  }